{% extends "base.html.twig" %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>

    <div>
        {{ post.content }}
    </div>

    <hr>

    <div>
        <h3>Comments</h3>

        {% for comment in comments %}
            <div>
                <p>{{ comment.content }}</p>
            </div>
        {% endfor %}

        <hr>

        {{ form(commentForm) }}
    </div>

    <hr>

    <a href="{{ path('post_edit', { id: post.id }) }}">Edit</a>
    <a href="{{ path('post_delete', { id: post.id }) }}">Delete</a>
{% endblock %}