{% extends "base.html.twig" %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>

    <p>By {{ post.user.email }}</p>

    <div>
        {{ post.content }}
    </div>

    <hr>

    <div>
        <h3>Comments</h3>

        {% for comment in comments %}
            <div>
                <p>{{ comment.user.email }} | {{ comment.content }}</p>
            </div>
        {% endfor %}

        <hr>

        {{ form(commentForm) }}
    </div>

    {% if is_granted("edit", post) %}
        <hr>

        <a href="{{ path('post_edit', { id: post.id }) }}">Edit</a>
        <a href="{{ path('post_delete', { id: post.id }) }}">Delete</a>
    {% endif %}
{% endblock %}